.vid-p{
   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media (min-width:750px) {
    .vid-p{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}
.vid-p img{
    width: 100%;
    display:block}